@import url(“https://use.typekit.net/dhe3dwq.css“);
body{
    color: #4A4A4A;
    font-family: "freight-sans-pro",sans-serif;
    font-size: 18px;
}

img{
    max-width: 100%;
}

h2{
    color: #050633;
    font-size: 32px;
    font-weight: 600;
    line-height: 80px;
}

P{
    color: #4A4A4A;	
    font-size: 18px;
    font-weight: 500;
}

header {
    padding: 54px 0 25px 0;
}

header img {
    vertical-align: top;
}

.logo {
    color: #9B9B9B;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1.47px;
}

a:hover{
    text-decoration: none;
}

.pairing_marker{
    margin-bottom: 150px;
    position: relative;
}

.pairing_marker h1{
    color: #050633;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -1.47px;
    line-height: 70px;
    margin: 0;
    position: relative
}

.pairing_marker h1:before{
    content: '';
    position: absolute;
    background: #9D5FFF;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    right: 64px;
    top: -25px; 
}

.pairing_marker:after{
    content: '';
    position: absolute;
    background: #FFD525;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 50%;
    bottom: -17%;
}

.pairing_marker h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 43px 0;
}

.request_btn{	
    height: 54px;
    width: 227px;
    border-radius:7px;
    background-color: #5857FF;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 39px;
    display: inline-block;
    text-align: center;
}

.request_btn:hover, .request_btn:focus{
    background-color: #7574FF;
    color: #FFFFFF;
    text-decoration: none;
}

.user_tester, .research_dashboard, .tester_dot {
    padding-top: 180px;
    display: flex;
}

.user_tester h2, .research_dashboard h2{
  line-height: 40px;
}

.marker p{
    padding: 0 32px 0 0;
}


.block{
    min-height: 323px;
    max-width: 295px;
    width: 100%;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 16px 0 rgba(241,125,255,0.34);
    margin-top:50px; 
}

.block_img{
    width: 219;
    height: 219px;
}

.block_content p{
    padding:0 30px 26px;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.marker_dot{
    position: relative;
}

.marker_dot h2::before{
    content: '';
    position: absolute;
    background: #FF5E99;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    left: -36px;
    top: -60px;
}


.marker_dot h2::after{
    content: '';
    position: absolute;
    background: #5857FF;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    right: 0;
    top: -8px;
}

.marker_dot .block_last:after{
    content: '';
    position: absolute;
    background: #FFD525;
    height: 20px;	
    width: 20px;
    border-radius: 50%;
    right: 5px;
    top: 25%;
}

.user_tester, .research_dashboard{
    position: relative;
}

.research_dashboard_content{
    padding-right: 20%;
}

.research_dashboard_content::after {
    content: '';
    position: absolute;
    background: #9D5FFF;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    right: 54%;
    bottom: -80px;
}

.research_dashboard::before {
    content: '';
    position: absolute;
    background: #FF5E99;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 60%;
    bottom: -20px;
}

.tester_dot{
    position: relative;
    padding-bottom: 90px
}

.tester_dot::before {
    content: '';
    position: absolute;
    background: #FDC228;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    right: 19%;
    top: 24%;
}

.tester_dot::after {
    content: '';
    position: absolute;
    background: #FF5E99;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 47%;
    bottom: -20px;
}

.tester_dot .block_first:after{
    content: '';
    position: absolute;
    background: #5857FF;
    height: 27px;	
    width: 27px;
    border-radius: 50%;
    left: 0px;
    top: 57%;
}

.tester_dot .block_middle:after{
    content: '';
    position: absolute;
    background: #9D5FFF;
    height: 31px;	
    width: 31px;
    border-radius: 50%;
    right: 29px;
    top: 24%;
}

.research_dashboard_img{
    margin-left: -15px;
}

.user_tester_content{
    padding-left: 20%;
    position: relative;
}

.user_tester_content p {
    padding-right: 20%;
}

.research_dashboard_content p, .research_dashboard_content h2 {
    padding-left: 20%;
}

.user_tester_content:after{
    content: '';
    position: absolute;
    background: #5857FF;
    height:43px;	
    width:43px;
    border-radius: 50%;
    right: 0;
    bottom: 0;
}

.user_tester:before{
    content: '';
    position: absolute;
    background: #FFD525;
    height: 33px;	
    width: 33px;
    border-radius: 50%;
    left: 34%;
    top: 25%;
}


.user_tester:after{
    content: '';
    position: absolute;
    background: #FF5E99;
    height: 20px;	
    width: 20px;
    border-radius: 50%;
    left: 33%;
    bottom: 0;
}

.user_tester_img{
    margin-right: -15px;
}
.learn_betatesta{
    padding: 90px 0;
    position: relative;
}

.learn_betatesta_content {
    padding-right: 4%;
}

.learn_btn{
    box-sizing: border-box;
    height: 56px;
    width: 171px;
    border: 2px solid #5857FF;
    border-radius: 7px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 39px;
}

.learn_btn:hover, .learn_btn:focus{
    background: #5857FF;
    color: #fff;
}
.learn_betatesta::before{
    content: '';
    position: absolute;
    background: #FFD525;
    height: 20px;	
    width: 20px;
    border-radius: 50%;
    right: 44%;
    top: 64px;
}

footer{
    border-top:2px solid #e7e7e7;
    padding: 65px 0 85px;
}

footer p{margin: 0;}

.socail_link a:hover{
    opacity: 0.7;
}

.socail_link a:first-child{
    margin-right: 25px;
}